pipeline/Dynamics365_EmailsDelivered.json
{
	"name": "Dynamics365_EmailsDelivered",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"description": "",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Create index",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dynamics365_GetEmailsDelivered",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "csv/EmailOpened",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "UsageType",
												"type": "String"
											},
											"sink": {
												"name": "usage_type"
											}
										},
										{
											"source": {
												"name": "InteractionType",
												"type": "String"
											},
											"sink": {
												"name": "interaction_type"
											}
										},
										{
											"source": {
												"name": "EmailAddressUsed",
												"type": "String"
											},
											"sink": {
												"name": "email_address_used"
											}
										},
										{
											"source": {
												"name": "Timestamp",
												"type": "String"
											},
											"sink": {
												"name": "time_stamp"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamics365_GetEmailsOpened",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamics365_EmailsOpened_AzureSqlTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Temp table if exists",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Dynamics365_LS_EmailsSent_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "drop table if exists Temp_Raw_Dynamics365_EmailsOpened"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Create table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Delete Temp table if exists",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Dynamics365_LS_EmailsSent_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "CREATE TABLE Temp_Raw_Dynamics365_EmailsOpened(\n\tusage_type varchar(80) NULL,\n\tinteraction_type varchar(80) NULL,\n\temail_address_used varchar(120) NULL,\n\ttime_stamp varchar(40) NULL,\n)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Create index",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Create table",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Dynamics365_LS_EmailsSent_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "CREATE INDEX ts_202311141437 ON Temp_Raw_Dynamics365_EmailsOpened(time_stamp)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Main Update",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Changemakers",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "with grp_data as (\nselect \n    cast(left(time_stamp,19) as datetime) as date\nfrom Temp_Raw_Dynamics365_EmailsDelievered\n)\n, final_table as (\n    select\n        date\n        , count(1) as no_emails_delivered\n    from grp_data\n    where date >= '2022-10-01 00:00:00'\n    group by date\n)\n\nMERGE INTO Changemakers_Combined_Overview a\nUSING final_table b\n    ON a.channel = 'Emails' \n    and a.sub_channel = 'Emails from Dynamics 365'\n    and a.date = b.date \nWHEN MATCHED THEN\n  UPDATE SET \n        a.users_by_date  = b.no_emails_delivered \nWHEN NOT MATCHED THEN\n  INSERT (channel,sub_channel,date,month,month_year,week,day_week,week_type,time_day,activity_implemented_by,users_by_date)\n  VALUES (\n        'Emails'\n        , 'Emails from Dynamics 365'\n        , b.date\n        , datename(month, b.date)\n        , concat(datename(month, b.date), ' ', year(b.date))\n        , concat(datename(month, b.date), ' ', year(b.date), ' Week ', (DATEPART(week, b.date) - DATEPART(week, DATEADD(day, 1, EOMONTH(b.date, -1)))) + 1)\n        , datename(dw, b.date)\n        , case when datename(dw, b.date) in ('Saturday', 'Sunday') then 'Weekend' else 'Weekday' end\n        , case \n            when cast(b.date as time) between '05:00:00' and '08:59:59' then 'Morning Commute' \n            when cast(b.date as time) between '09:00:00' and '11:59:59' then 'Mid Morning' \n            when cast(b.date as time) between '12:00:00' and '15:59:59' then 'Afternoon' \n            when cast(b.date as time) between '16:00:00' and '18:59:59' then 'Morning Commute' \n            when cast(b.date as time) between '19:00:00' and '23:59:59' then 'Late Evening' \n            when cast(b.date as time) between '00:00:00' and '04:59:59' then 'Night' \n          end\n        , 'Rishi Padda'\n        , b.no_emails_delivered\n        );"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete Temp table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Main Update",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Dynamics365_LS_EmailsSent_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "drop table if exists Temp_Raw_Dynamics365_EmailsOpened"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"episodeName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dynamics365 Emails"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-23T11:09:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}