pipeline/Linkedin_Campaign.json
{
	"name": "Linkedin_Campaign",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"description": "",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LinkedinCampaign_GetFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Script1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": "campaign",
										"wildcardFileName": "@item().name",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": 4
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Start Date (in UTC)",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "date"
											}
										},
										{
											"source": {
												"name": "Impressions",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "impressions"
											}
										},
										{
											"source": {
												"name": "Reactions",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "reactions"
											}
										},
										{
											"source": {
												"name": "Shares",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "shares"
											}
										},
										{
											"source": {
												"name": "Comments",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "comments"
											}
										},
										{
											"source": {
												"name": "Follows",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "follows"
											}
										},
										{
											"source": {
												"name": "Clicks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "clicks"
											}
										},
										{
											"source": {
												"name": "Click Through Rate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "click_through_rate"
											}
										},
										{
											"source": {
												"name": "Video Views at 25%",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "video_views_25"
											}
										},
										{
											"source": {
												"name": "Video Completions",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "video_completions"
											}
										},
										{
											"source": {
												"name": "Video Completion Rate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "video_completion_rate"
											}
										},
										{
											"source": {
												"name": "Total Spent",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "total_spend"
											}
										},
										{
											"source": {
												"name": "Average CPM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "average_cpm"
											}
										},
										{
											"source": {
												"name": "Average CPC",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "average_cpc"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LinkedinCampaign_GetFiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "LinkedinCampaign_AzureSqlTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase_Changemakers",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "drop table if exists Temp_Raw_LinkedinCampaign"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LinkedinCampaign_GetFiles",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "logging",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{item().name}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Linkedin"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-23T11:09:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}